html{
    user-select: none;
}
body {
    font-family: Arial, sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: "Rubik", "sans-serif";
    background-color: #ffffff;
    background-image:url(asset/bgkashi.png);

}
/*
header {
    background-color: rgb(20, 6, 67);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-family: "Rubik", "sans-serif";
}
*/

header{
    color: #ffffff;
    padding: 10px;
    font-family: "Rubik", "sans-serif";
}
#headerLine{
    max-width: 30%;
}
.text-center {
    text-align: center;
}
main {
    padding: 20px;
    font-family: "Rubik", "sans-serif";

}

.search-train-form{
    margin-bottom: 20px;
    display: flex;
    margin: 0px auto;
    gap: 5px;
    flex-direction: column;
    max-width: 320px;
    padding : 20px;
    border-radius : 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Basic shadow */  
    background-color: rgba(7, 7, 7, 0.833); 
}

label {
    display: block;
    margin-bottom: 5px;
    color:#ffffff;
    text-align: left;
}

input[type="text"],
input[type="date"],
button {
    margin-bottom: 15px;
    color: #363636;
}


#departure, #destination, #date-travel {
    font-size: 20px;
    max-width: 380px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Rubik", "sans-serif";
}
#bottom-btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    gap: 10px;
}

#search-train-btn, #signout-btn, #add-user-event-btn{
    flex-grow: 1;
    color : white;
    align-self: center;
    border-radius: 5px;
    font-size: 17px;
    border:none;
    padding: 12px;
    background-color: rgb(19, 141, 255);
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 0;
}
#signout-btn{
    background-color: #001757;
}
#search-train-btn:hover, #add-user-event-btn:hover{
    background-color: rgb(13, 98, 176);
}

#signout-btn:hover{
    background-color: #000000;
}
#userDetail{
    display: flex;
    flex-direction: row;
    max-width: 400px;
    gap: 10px;
    margin: 2px auto;
}

#user-img{
    padding: 10px;
    border-radius: 60px;
    width: 40px;
    height: 40px;
}
#userName{
    padding: 10px;
    margin: auto;
    color: white;
}

#user-search-event{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding : 20px;
    gap:30px;
    max-width:1200px;
    margin: 10px auto;
    justify-content: center;
    text-align: center; /* Align text content center */

}
#user-search-event > * {
    flex: 0 0 auto; /* Prevent flex items from shrinking or growing */
    width: auto; /* Set width to auto to prevent flex items from stretching */
}
#event{
    background-color: rgb(255, 255, 241);
    border-radius : 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: auto;
    text-align: center;
    max-width: 600px;
    min-width: 280px;
}

#event-result, #user-event-result{
    list-style-type: none;/*remove the bullet points*/
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}
#event-result li, #user-event-result li{
    flex-grow: 1;/*specifies the relative growth rate of one tag inside the flex contianer with respect to other
    since all are here specied as one means everyone will grow as much as possible*/
    text-align: center;
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px #00000033;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    padding: 15px;
    border: 3px solid rgb(61, 34, 2);  
}
#disclaimer{
    font-size: 10px;
}

#schedule-train-un {  
    display: none;
    
}
#schedule-train{
    margin-top: 20px;
    font-family:"Rubik", "sans-serif";
}

#schedule-result {
    width: 100%;
    border-collapse: collapse;
}

#schedule-result th,
#schedule-result td {
    border-bottom: 1px solid #ddd ;
    color: rgb(44, 44, 44);
    padding: 40px;
    text-align: left;
}

#schedule-result th {
    background-color: #000441;
    color: white;
    font-family: "verdana";
    font-style: none;
    
}
tbody{
    font-size: 15px;
}
#schedule-result tbody tr:nth-child(even) {
    background-color: #ffffffb6;
}
#schedule-result tbody tr:nth-child(odd) {
    background-color: #ffffffb6;
}

#schedule-result tbody tr:hover {
    background-color: #fffaed;
}
footer {
    text-align: center;
    padding: 1px;
    background-color: rgb(15, 15, 15);
    color: white;
    display: block;
    margin-top: auto;
}
footer p, #college{
    color: rgb(209, 209, 209);
}
footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 480px){
    #event{
        max-width: 250px;
        }
    li{
        overflow-y: hidden;
    }
}

@media screen and (max-width: 768px) {
    .search-train-form{
        max-width: 280px;
    }
    #schedule-result th,
    #schedule-result td {
        padding: 8px; /* Further reduced padding for smaller screens */
    }

    /* Hide table header on smaller screens */
    #schedule-result th {
        display: none;
    }

    /* Set table rows to block display to stack them vertically */
    #schedule-result tbody tr {
        display: block;
        margin-bottom: 20px; /* Add some space between table rows */
        background-color: #ffffffec;
    }

    /* Set table cells to display as block to stack them vertically */
    #schedule-result td {
        display: block;
        text-align: left;
        font-weight: bold;
    }
}